<!DOCTYPE html>
<html>
  <head>
    <title>Welcome <%= customer.CUSTOMER_NAME %></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <h1><%= customer.CUSTOMER_NAME %>'s Homepage</h1>

    <div class="button-container">
      <button type="button" onclick="backPage();">Back</button>
      <button
        type="button"
        onclick="window.location.href = '/CustomerOrderCreation/default?id=<%=customer.CUSTOMER_ID%>';"
      >
        Place New Order
      </button>
      <button
        type="button"
        onclick="window.location.href = '/CustomerOrderHistory?id=<%=customer.CUSTOMER_ID%>';"
      >
        View Order History
      </button>
      <button type="button" onclick="manageAcctPage();">
        Manage Your Account
      </button>
    </div>
    <!--Links to Create New Order, Order HIstory, Account Managnment-->
    <script>
      function manageAcctPage() {
        // Get the URL query parameters
        const urlSearchParams = new URLSearchParams(window.location.search);

        // Convert the URL query parameters to a plain object
        const queryParams = Object.fromEntries(urlSearchParams.entries());

        // Extract the customer ID from the queryParams object
        const customerId = queryParams.id;

        // console.log("CUSTOMER_ID: " + <%=customer.CUSTOMER_ID%>);
        // const customerObject = JSON.parse(id);
        // const customerId = customerObject.CUSTOMER_ID;
        // console.log("PASCODE: " + customerId);
        window.location.href =
          "/CustomerAccountManagement/" + <%=customer.CUSTOMER_ID%>;
      }

      function backPage() {
        if (window.confirm("You will be logged out. Do you want to proceed?"))
          window.location.href = '/CustomerLogin';
          // else window.location.href = '/CustomerLogin';
      }
    </script>
  </body>
</html>
